<%= will_paginate %>

		<tr>
		  	<td><%= link_to user.id, user %></td>
	  		<td><%= link_to user.name, user %></td>
  			<td><%= link_to user.email, user %></td>
  			<td>		<%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
        	</td>
		</tr>


<%= will_paginate %>