<% provide(:title, "Mostrar Loja: " + @empresaloja.nome) %>
<h1><%=@empresaloja.nome%></h1>

<div class="row">
  <div class="span6 offset3">
    <h2><b>Endereco:</b> <%=@empresaloja.logradouro%>, <%=@empresaloja.nro_logradouro%> - <%=@empresaloja.cidade%> - <%=@empresaloja.uf%></h2>
  </div>
</div>
<p><%= link_to 'Funcionarios', controller:"funcionarios", action:"index", empresa_loja_id: @empresaloja.id %></p>