<% provide(:title, "Mostrar Loja: " + @empresaloja.nome) %>
<h1><%=@empresaloja.nome%></h1>

<div class="row">
  <div class="span6 offset3">
	<address>
		<strong><%=@empresaloja.nome%></strong><br>
		<%=@empresaloja.logradouro%>, <%=@empresaloja.nro_logradouro%><br>
		<%=@empresaloja.cidade%>, <%=@empresaloja.uf%><br>
	</address>
  </div>
</div>
<p><%= link_to 'Funcionarios', controller:"funcionarios", action:"index", empresa_loja_id: @empresaloja.id %></p>