<% provide(:title, "Compromisso") %>
<h1><%="Compromisso"%></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@agenda) do |f| %>
    
      <%= render 'error_messages'%>

      <%= f.label :funcionario_servico_id, "Selecione o servico" %>
      <%= collection_select(:agenda, :funcionario_servico_id, Servico.joins(["INNER JOIN funcionario_servicos fs ON fs.servico_id = servicos.id AND fs.funcionario_id = " + @agenda.funcionario.id.to_s]),:id,:descricao) %>

	  <%= f.label :funcionario_id, "Funcionario" %>
      <%= f.text_field :funcionario_id, :disabled => 'disabled', :value =>@agenda.funcionario.nome %>
      
      <%= f.label :dt_agendada, "Data Agendada" %>
      <%= f.text_field :dt_agendada, :disabled => 'disabled' %>
      
      <%= f.label :hr_inicio, "Hora Inicio" %>
      <%= f.text_field :hr_inicio, :disabled => 'disabled', :value => @agenda.hr_inicio.to_formatted_s(:time)%>
      
      <%= f.hidden_field :funcionario_id, :value => @agenda.funcionario_id %>
      <%= f.hidden_field :hr_inicio, :value => @agenda.hr_inicio %>
      <%= f.hidden_field :dt_agendada, :value => @agenda.dt_agendada %>
      
      <%= f.submit "Cadastrar Compromisso", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>