<% provide(:title, 'Cadastro de Tipos de Servico') %>
<h1>Cadastro de Tipo de Servicos</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@tiposervico) do |f| %>

	  <%= render 'error_messages'%>

      <%= f.label :descricao %>
      <%= f.text_field :descricao %>

      <%= f.submit "Confirmar", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>