<%= will_paginate %>

		<tr>
		  	<td>
		  		<%if funcionario.cpf? %>
		  			<%= link_to funcionario.cpf, funcionario %>
		  		<%end%>	
		  	</td>
	  		<td><%= link_to funcionario.nome, funcionario %></td>
  			<td><% if funcionario.user != nil %> 
  					<%= link_to funcionario.user.email, user_path(funcionario.user.id) %>
  				<%else%>
  					<%= link_to "Cadastrar", new_user_path %>
  				<%end%>
  			</td>
  			<td>		<%= link_to "delete", funcionario, method: :delete,
                                  data: { confirm: "You sure?" } %>
        	</td>
		</tr>


<%= will_paginate %>