<% provide(:title, "Entrar") %>
<h1>Entrar</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@funcionario) do |f| %>
    
      <%= render 'error_messages'%>

      <%= f.label :nome %>
      <%= f.text_field :nome %>

	  <%= f.label :cpf %>
      <%= f.text_field :cpf %>
      
      <%= f.label :data_nasc, 'Data de Nascimento' %>
      <%= f.text_field :data_nasc %>
      
      <%user = current_user%>
      <%if user.funcionario.empresa_loja_id == nil %>
      	<%= f.label :empresa_loja_id, "Selecione a Loja" %>
      	<%= collection_select(:funcionario, :empresa_loja_id, EmpresaLoja.where(["empresa_id = ?", user.funcionario.empresa_id]), :id, :nome) %>
      <%else%>
      	<%= f.hidden_field :empresa_loja_id, :value => user.funcionario.empresa_loja_id %>
      <%end%>
      
      <%= f.submit "Cadastrar Funcionario", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>